body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.bloco_conteudo {
    position: relative;
    background-color: gray;
    width: 65%;
    height: 100vh;
    float: right;
}
.conteudo {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
}
.navega {
    box-sizing: border-box;
    border-right: 5px solid white;
    position: relative;
    background-color: #5ce1e6;
    width: 35%;
    height: 100vh;
    float: left;
}
.links {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(0, -50%);
}
.ftperfil {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 20px;
}
.menu a{
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.menu a:hover {
    font-weight: bolder;
}
#fonte1 {
    color: white;
    font-size: 20px;
}
#fonte2 {
    color: #5ce1e6;
    font-size: 20px;
}

